# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project
build/

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
WesterLife


# Files from Forge MDK
forge*changelog.txt
