# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project
build/

# idea
out
*.ipr
*.iws
*.iml

# gradle
build
.gradle

# other
eclipse
run
jcef

# Files from Forge MDK
forge*changelog.txt
.idea
/WesterLife/
/files.mp4
