.backGround {
    background-image: url("dynamxmod:textures/animation/animation.png")
    width: 36%;
    height: 88%;
    left: 32%;
    top: 6%;
}
.leverLesMains {
    background-image: url("dynamxmod:textures/animation/leverLesMains.png")
    width: 74%;
    height: 12%;
    left: 13%;
    top: 20%;
}

.gardeAVous {
    background-image: url("dynamxmod:textures/animation/gardeAVous.png")
    width: 74%;
    height: 12%;
    left: 13%;
    top: 39%;
}

.pointerDuDoigt {
    background-image: url("dynamxmod:textures/animation/pointerDuDoigt.png")
    width: 74%;
    height: 12%;
    left: 13%;
    top: 58%;
}

.stopAnimation {
    background-image: url("dynamxmod:textures/animation/stopAnimation.png")
    width: 74%;
    height: 12%;
    left: 13%;
    top: 77%;
}