.back{
    background-image: url("dynamxmod:textures/atm/back.png");
    height: 86%;
    width: 90%;
    top: 7%;
    left: 5%;
}
.one-button{
    background-image: url("dynamxmod:textures/atm/clavier/1.png");
    height: 6%;
    width: 4%;
    top: 29%;
    left: 71%;
}
.two-button{
    background-image: url("dynamxmod:textures/atm/clavier/2.png");
    height: 6%;
    width: 4%;
    top: 29%;
    left: 76%;
}
.three-button{
    background-image: url("dynamxmod:textures/atm/clavier/3.png");
    height: 6%;
    width: 4%;
    top: 29%;
    left: 81%;
}
.four-button{
    background-image: url("dynamxmod:textures/atm/clavier/4.png");
    height: 6%;
    width: 4%;
    top: 37%;
    left: 71%;
}
.five-button{
    background-image: url("dynamxmod:textures/atm/clavier/5.png");
    height: 6%;
    width: 4%;
    top: 37%;
    left: 76%;
}
.six-button{
    background-image: url("dynamxmod:textures/atm/clavier/6.png");
    height: 6%;
    width: 4%;
    top: 37%;
    left: 81%;
}
.seven-button{
    background-image: url("dynamxmod:textures/atm/clavier/7.png");
    height: 6%;
    width: 4%;
    top: 44%;
    left: 71%;
}
.eight-button{
    background-image: url("dynamxmod:textures/atm/clavier/8.png");
    height: 6%;
    width: 4%;
    top: 44%;
    left: 76%;
}
.nine-button{
    background-image: url("dynamxmod:textures/atm/clavier/9.png");
    height: 6%;
    width: 4%;
    top: 44%;
    left: 81%;
}
.zero-button{
    background-image: url("dynamxmod:textures/atm/clavier/0.png");
    height: 6%;
    width: 4%;
    top: 51%;
    left: 76%;
}
.enter-button{
    background-image: url("dynamxmod:textures/atm/clavier/accept.png");
    height: 6%;
    width: 8%;
    top: 29%;
    left: 88%;
}
.cancel-button{
    background-image: url("dynamxmod:textures/atm/clavier/cancel.png");
    height: 6%;
    width: 8%;
    top: 51%;
    left: 88%;
}
.clear-button{
    background-image: url("dynamxmod:textures/atm/clavier/return.png");
    height: 6%;
    width: 8%;
    top: 44%;
    left: 88%;
}
#button1left{
    background-color: #ADADAD;
    height: 6%;
    width: 5%;
    top: 44%;
    left: 4%;
    border-radius: 8px;
}
#button2left{
    background-color: #ADADAD;
    height: 6%;
    width: 5%;
    top: 54%;
    left: 4%;
    border-radius: 8px;
}
#button3left{
    background-color: #ADADAD;
    height: 6%;
    width: 5%;
    top: 64%;
    left: 4%;
    border-radius: 8px;
}
#button4left{
    background-color: #ADADAD;
    height: 6%;
    width: 5%;
    top: 74%;
    left: 4%;
    border-radius: 8px;
}
#button1right{
    background-color: #ADADAD;
    height: 6%;
    width: 5%;
    top: 44%;
    left: 62%;
    border-radius: 8px;
}
#button2right{
    background-color: #ADADAD;
    height: 6%;
    width: 5%;
    top: 54%;
    left: 62%;
    border-radius: 8px;
}
#button3right{
    background-color: #ADADAD;
    height: 6%;
    width: 5%;
    top: 64%;
    left: 62%;
    border-radius: 8px;
}
#button4right{
    background-color: #ADADAD;
    height: 6%;
    width: 5%;
    top: 74%;
    left: 62%;
    border-radius: 8px;
}
.screen{
    height: 69%;
    width: 50%;
    top: 15%;
    left: 10%;
}
#screen-home{
    background-image: url("dynamxmod:textures/atm/screen/home.png");
}
#screen-depot{
    background-image: url("dynamxmod:textures/atm/screen/depot.png");
}
#screen-retrait{
    background-image: url("dynamxmod:textures/atm/screen/retrait.png");
}
#screen-transaction{
    background-image: url("dynamxmod:textures/atm/screen/transaction.png");
}
#screen-profilcode{
    background-image: url("dynamxmod:textures/atm/screen/changecode.png");
}
#screen-profil{
    background-image: url("dynamxmod:textures/atm/screen/profil.png");
}
#screen-login{
    background-image: url("dynamxmod:textures/atm/screen/code.png");
}
.code-login{
    background-color: rgba(0, 0, 0, 0);
    height: 15%;
    width: 40%;
    top: 60%;
    left: 30%;
    color: white;
    font-size: 40px;
    border: none;
    border-radius: 8px;
    text-align: center;
}
.text-home{
        height: 30%;
        width: 90%;
        top: 25%;
        left: 4%;
        padding-top: 10px;
        padding-left: 10px;
        color: white;
        font-size: 30px;
}
.new-code{
        background-color: #EFEFEF;
        height: 15%;
        width: 40%;
        top: 40%;
        left: 30%;
        color: #4E586E;
        font-size: 15px;
        border: none;
        border-radius: 8px;
        text-align: center;
}