.home{
    background-image: url("dynamxmod:textures/ingame/back.png");
    height: 100%;
    width: 30%;
    top: 0%;
    left: 0%;
    border-radius: 10%;
}
.rtg:hover{
    color: rgb(250, 105, 77);
}
.rtg{
    height: 10%;
    width: 100%;
    text-align: center;
    horizontal-position: center;

    top: 25%;
    left: 35%
}
.parameter:hover{
    color: rgb(250, 105, 77);
}
.parameter{
    height: 10%;
    width: 100%;
    text-align: center;
    horizontal-position: center;
    top: 50%;
    left: 35%;
}
.disconnect:hover{
   color: rgb(250, 105, 77);
}
.disconnect{
    height: 10%;
    width: 100%;
    text-align: center;
    horizontal-position: center;
    top: 75%;
    left: 35%;
}