.home{
     background-image: url("dynamxmod:textures/ingame/back.png");
     height: 88%;
     width: 33%;
     top: 6%;
     left: 33%;
}
.returnToGame{
    background-image: url("dynamxmod:textures/ingame/returntogame.png");
    height: 12%;
    width: 76%;
    top: 18%;
    left: 12%;
}
.parameter{
    background-image: url("dynamxmod:textures/ingame/parameter.png");
    height: 12%;
    width: 76%;
    top: 33%;
    left: 12%;
}
.keyboard{
    background-image: url("dynamxmod:textures/ingame/keyboard.png");
    height: 12%;
    width: 76%;
    top: 47%;
    left: 12%;
}
.discord{
    background-image: url("dynamxmod:textures/ingame/discord.png");
    height: 12%;
    width: 17%;
    top: 71%;
    left: 12%;
}
.disconnect{
    background-image: url("dynamxmod:textures/ingame/disconnect.png");
    height: 12%;
    width: 17%;
    top: 71%;
    left: 41%;
}
.site{
    background-image: url("dynamxmod:textures/ingame/site.png");
    height: 12%;
    width: 17%;
    top: 71%;
    left: 70%;
}