/*

Attention, propriété de WesterLife, toute utilisation, modification ou reproduction est interdite sans autorisation claire et explicite de la pars de l'administation de WesterLife est formellement interdite.
Tout manquement à cette règle est passible de poursuite judiciaire.

©️ WesterLife 2023 - Gabidut76, Yan36

*/

.background {
    right: 25%;
    height: 70%;
    width: 50%;
    vertical-position: center;
    background-color: rgba(55, 60, 73, 240);
    border-radius: 10px;
}


.isWall {
    left: 50%;
    right: 50%;
    top: 30%;
}

.text {
    left: 50%;
    right: 50%;
    top: 20%;
    width: 80%;
}

.save {
    left: 50%;
    right: 50%;
    top: 80%;
}
.text2 {
    left: 50%;
    right: 50%;
    top: 40%;
    width: 80%;
}

.text3 {
    left: 50%;
    right: 50%;
    top: 60%;
    width: 80%;
}