/*

Attention, propriété de WesterLife, toute utilisation, modification ou reproduction est interdite sans autorisation claire et explicite de la pars de l'administation de WesterLife est formellement interdite.
Tout manquement à cette règle est passible de poursuite judiciaire.

©️ WesterLife 2023 - Gabidut76, Yan36

*/

.background {
    background-image: url("westerlife:textures/main/bg.png");
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    z-index: -1;
}

.settings {
    text-align: center;
    background-image: url("westerlife:textures/main/settings.png");
    width: 25%;
    height: 75%;
    left: 5%;
    top: 12%;
}

.connect {
    text-align: center;
    background-image: url("westerlife:textures/main/connect.png");
    width: 25%;
    height: 75%;
    left: 50%;
    right: 50%;
    top: 12%;
}

.exit {
    text-align: center;
    background-image: url("westerlife:textures/main/exit.png");
    width: 25%;
    height: 75%;
    right: 5%;
    top: 12%;
}
.perf {
    color: #F14902;
    bottom: 1%;
    text-align: right;
}
.username {
    border: none;
    background-color: #FFFFFF;
    border-radius: 5px;
    width: 50%;
    left: 50%;
    right: 50%;
    top: 30%;
    color: black;

}

.password {
    top: 40%;
    z-index: 1000;
    border: none;
    background-color: #FFFFFF;
    border-radius: 5px;
    width: 50%;
    left: 50%;
    right: 50%;
    color: black;
}

.logloc {
    top: 50%;
    z-index: 1000;
}
.login_btn {
    top: 60%;
    z-index: 1000;
    background-image: none;
    background-image: url("westerlife:textures/main/login.png");
    width: 25%;
    height: 10%;
    left: 50%;
    right: 50%;
}

.reload_button {
    top: 90%;
    z-index: 1000;
    background-color: green;
}

.title {
    top: 5%;
    z-index: 1000;
    width: 50%;
    height: 10%;
    left: 50%;
    right: 50%;
    color: #F6E7D8;
    text-align: center;
}

.register {
    bottom: 1%;
    z-index: 1000;
}

.error {
    color: #ff3030;
    top: 0%;
    width: 100%;
    z-index: 1000;
}