
/*

Attention, propriété de WesterLife, toute utilisation, modification ou reproduction est interdite sans autorisation claire et explicite de la pars de l'administation de WesterLife est formellement interdite.
Tout manquement à cette règle est passible de poursuite judiciaire.

©️ WesterLife 2023 - Gabidut76, Yan36

*/



@font-face {
    font-family: "westerlife:montserrat_fat";
    src: url("westerlife:fonts/font.ttf");
    font-size: 100px;
}
.background {
    top: 10%;
    left: 15%;
    width: 70%;
    height: 80%;
    background-image: url("westerlife:textures/gui/atm/background.png");
}

